<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>iSUD - Calendário de Almoço</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
        <h1>Calendário de Eventos - 2025</h1>
    </header>

    <main>
        {% for month, weeks in months %}
        <section class="month">
            <div class="month-container">
                <h2>{{ month }}</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Dom</th>
                            <th>Seg</th>
                            <th>Ter</th>
                            <th>Qua</th>
                            <th>Qui</th>
                            <th>Sex</th>
                            <th>Sáb</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for week in weeks %}
                        <tr>
                            {% for day in week %}
                                <td>
                                    {% if day %}
                                        <div>{{ day }}</div>
                                        {% for dupla in ['dupla_1', 'dupla_2', 'dupla_3', 'dupla_4'] %}
                                            <div class="input-box" data-month="{{ month }}" data-week="{{ loop.parent.index }}" data-day="{{ day }}" data-key="{{ dupla }}">
                                                <input type="text" placeholder="Insira o nome">
                                                <button>Salvar</button>
                                            </div>
                                        {% endfor %}
                                    {% endif %}
                                </td>
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </section>
        {% endfor %}
    </main>

    <footer>
        <p>&copy; 2025 iSUD - Calendário de Almoço</p>
    </footer>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
